


@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');




body{
    background: linear-gradient(-45deg, #FA8BFF, #2BD2FF, #FFE53B,#FF2525, #FBDA61);
	background-size: 800% 800%;
	animation: gradient 40s ease infinite;
    margin: 0;
    padding: 0;}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
    
.container{
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    justify-content: center;
    align-content: center;
    width: 280px;
    min-height: 450px;
    margin: 60px auto;
    margin-bottom: 40px;
    background-color: #020101;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0px 0px 40px rgb(255, 255, 255);
    
}

.salida{
    
    margin-bottom: 20px;
    display: grid;
    grid-column: 1/span 4;
    max-inline-size: 22rem; 
    border-radius: 10px;
    border: 1px;
    overflow: hidden; 
    box-shadow: 0 0px 8px 3px rgb(255, 255, 255);
    font-size: 2rem;
    text-align: end;
    align-items: center;
    height: 70px;
    background: #ffffff;
    
    font-family: 'Lato', sans-serif;
    font-weight: 380;
    letter-spacing: 1px;
    font-weight: bold;
}

.buttons {
    border: 1px solid #3f51b5;
    color:#3f51b5;
    
    
    width: 50px;
    height: 50px;
    
    background-color: transparent;
    margin: 5px;
    box-shadow:0px 0px 1px rgb(255, 255, 255);
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    
    font-size: 20px;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 8px;

 
  font-family: 'Lato', sans-serif;
  font-weight: 380;
  letter-spacing: 1px;
  font-weight: bold;
 }


.buttons:hover {
    background-color: #ffffff;
}
.buttons:active {
    transform: scale(1.40);
    box-shadow: rgb(255, 255, 255) 0px 8px 16px -8px;
}



  



  
